# shellcheck disable=SC2148,SC2155

#
# on terminal bootstrap .zshrc loading takes time, and path to tools can be not yet available
# so we need to add path to tools to PATH variable to prevent false fails
#
PATH_add "$HOME/.local/bin"

#
# Add scripts to PATH for simpler run
#
PATH_add "$PWD/.scripts"
PATH_add "$PWD/bin"

#
# make global variable for all scripts, declare before any source ...
#
export E_BASH="$(pwd)/.scripts"

#
# Load scripts: _logger <-- _commons <-- _dependencies
#
source "$PWD/.scripts/_dependencies.sh"

#
# Project dependencies
#
dependency bash "5.*.*" "brew install bash"
dependency direnv "2.*.*" "curl -sfL https://direnv.net/install.sh | bash"
dependency git "2.*.*" "brew install git"
dependency git-lfs "3.*.*" "brew install git-lfs"
dependency shellspec "0.28.*" "brew install shellspec"
dependency shellcheck "0.10.*" "curl -sS https://webi.sh/shellcheck | sh"
dependency shfmt "3.*.*" "curl -sS https://webi.sh/shfmt | sh"
dependency ggrep "3.*" "brew install grep"
dependency gsed "4.*" "brew install gnu-sed"
dependency timeout "9.*" "brew install coreutils"
dependency jq "1.[6-9].*" "brew install jq"
dependency zsv "0.3.*-alpha" "brew tap liquidaty/zsv && brew install zsv" "version"

dependency kcov "43" "brew install kcov"

# Allow of HEAD or stable versions of the watchman tool
wHead=$(dependency watchman "HEAD-[a-f0-9]{1,8}" "brew install watchman")
wStab=$(dependency watchman "2024.*.*.*" "brew install watchman")
echo "$wHead" | grep 'Error' &>/dev/null && echo "$wStab" || echo "$wHead"

#
# Alternative Shell Formatter, that understands unit test spec files
#
export ALTSHFMT="$HOME/workspace/github/altshfmt/altshfmt"

#
# ask watchman to automatically update formatting of the scripts
#

# `watchman-make -p 'spec/*.sh' '**/.shellspec' --run ./00-format.sh`
watchman watch-project "$(pwd)" >/dev/null
# watchman -j <<-EOT
# ["trigger", ".", {
#   "name": "tdd-run-ebash-formatting",
#   "expression": ["anyof",
#     ["match", "*_spec.sh"],
#     ["match", "spec_helper.sh"],
#     ["match", ".shellspec"]
#   ],
#   "relative_root": ".",
#   "command": ["./00-format.sh"]
# }]
# EOT

cl:unset
