# OS temporary files
.DS_Store

# utility folders
coverage/
report/

# IDE folders
.vscode/
.idea/

# backup/temporary files
*.tmp
*.old
*.bak
*.orig

# logs
*.log
*.txt

# temp scripts
*.tmp.sh

# local overrides
.shellspec-local

# secrets
.secrets/

# version file composed by version-up.sh script
version.properties

# self-update .versions folder; symbolic links backup names `ln --backup=numbered -s ...`
.versions/
*.~*~
*.sha1

# openapi experiments
bin/bitbucket

# symbolic links (for Linux only)
bin/gnubin

# patches
patches/

# Virtual Hard Drives
*.vhd
*.vhdx
*.vmdk
*.qcow2
*.img
*.dmg
*.vpc

# MISE tools for AI Coding
mise.toml
.mcp.json
.env.secrets.json