# utility folders
coverage/
report/
.vscode/

# backup/temporary files
*.tmp
*.old
*.bak
*.orig

# logs
*.log
*.txt

# temp scripts
*.tmp.sh

# local overrides
.shellspec-local

# secrets
.secrets/

# version file composed by version-up.sh script
version.properties
