# shellcheck disable=SC2148,SC2155

source_up_if_exists

# Short comment sample, one line
export CUSTOM_VAR="custom value"
# Short comment sample, first line
#
export CUSTOM_VAR="custom value"
#
# Short comment sample, second line
export CUSTOM_VAR="custom value"
# Many lines comment sample, first line
#
#
# Many lines comment sample, last line
export CUSTOM_VAR="custom value"
# This is a special comment:
# Multi line comment, that describe the variable usage
# in several lines.
export CUSTOM_VAR="custom value"
export CUSTOM_VAR="no comments"
#
# Too many comments:
# - line 1
# - line 2
# - line 3
# - line 4
# - line 5
#
export CUSTOM_VAR="too much"
